name: "Test typescript-action"
on:
  pull_request:
  push:
    branches:
      - mmainr

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: package.json
      - run: npm ci
      - run: npm run test
      - run: npm run check
      - run: npm run build
